.Input {
    border: 1px solid var(--color-dark-gray);
    background-color: var(--color-light-gray);
    max-width: -webkit-fill-available;    
    display: flex;
}


.Input input {
    border: none;
    width: -webkit-fill-available;
    padding: var(--gap-s); 
}
.indicator{
    width:5px;   
    background-color: none;
}
.indicator[color=red]{
    background-color: red;
}
.indicator[color=green]{
    background-color: green;
}
.Input[type=radio]{
    border: 0px;
    background-color: transparent;
}
.Input[type=radio] input{
    width: auto;
}