.Table{
    border: 1px solid var(--color-dark-gray);
    background-color: var(--color-dark-gray);
}
.Table th{
    background-color: var(--color-dark-gray);
    color: var(--color-light-gray);
    padding: var(--gap);
}
.Table tr{
    background-color: var(--color-light);
}
.Table td{
    background-color: var(--color-light);
    padding: var(--gap-s);
    text-align: center;
}