.Dropdown {
    position: relative;
    min-width: 200px;    
}

.Dropdown .trigger {
    border: 1px solid var(--color-dark-gray);
    padding: var(--gap-s);
    border-radius: 10px;
}

.Dropdown .trigger:hover  {
    background-color: var(--color-dark-gray);
    color: var(--color-light-gray);
    cursor: pointer;
}

.Dropdown .trigger:active {
    background-color: var(--color-light-gray);
}

.Dropdown .list {    
    background-color: var(--color-white);
    right: 0;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: auto;
    margin: 0px;
}

.Dropdown .list div {
    padding: var(--gap-s);
    background-color: var(--color-white);
}

.Dropdown .list div:hover {
    background-color: var(--color-light-gray);
    cursor: pointer;
}


.Dropdown .list li:first-child {
    border-top: 3px solid var(--color-dark-gray);
}